body {
	font-family: Arial, Helvetica, sans-serif;
	color: #eee;
	font-size: 14px;
}

h1 {
	font-size: 24pt;
	text-align: center;
	color: #333;
	font-weight: 300;
}

div.main {
	width: 100%;
}

form {
	margin: auto;
	width: 280px;
	border: 1px solid #7f1bd1;
	border-radius: 4px;
}

span {
	background-color: #7f1bd1;
	padding: 4px;
	margin: 0px;
	height: 17px;
	width: 72px;
	text-align: right;
	display: inline-block;
}

span.from-lbl {
	border-radius: 4px 0px 0px 0px;
}

input.from {
	border-radius: 0px 4px 0px 0px;
	padding: 4px;
	height: 24px;
	margin: 0px 0px 0px -4px;
	border: none;
	width: 200px;
}


input.to {
	padding: 4px;
	height: 24px;
	margin: 0px 0px 0px -4px;
	border: none;
	width: 200px;
}

input.submit {
	width: 280px;
	height: 24px;
	border-radius: 0px 0px 4px 4px;
	border: none;
	color: #eee;
	background-color: #7f1bd1;
}
